{% extends 'base.html' %}

{% block content %}
<div class="sidebar">
    <form id="search" action="{{ url_for('search') }}" method=post enctype=multipart/form-data onchange="this.form.submit()">
	<input type="text" id="search" name="search" placeholder="Search..">
    </form>
    <br>
    <table cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
        <tr style="border-bottom: 1px solid #D0D0D0;">
            <td class="tabletite" style="width:190px;"><h7><a style="color: chocolate;" href="{{ url_for('sortByName') }}">Host</a></h7></td>
            <td class="tabletite" style="width:70px;"><h7><a style="color: chocolate;" href="{{ url_for('sortByOs') }}">OS</a></h7></td>
            <td class="tabletite" style="width:130px;"><h7><a style="color: chocolate;" href="{{ url_for('sortByDate') }}">Entry date</a></h7></td>
            <td class="tabletite" style="width:30px;"><h7><a style="color: chocolate;" href="{{ url_for('deleteAll') }}" onclick="return confirm('Are you sure you wish to delete all hosts?')">Action</a></h7></td>
        </tr>
    {% for host in hosts %}
        <tr>
        <td style="width:190px;">
        <a href="{{ url_for('post', host_id=host['id']) }}">
            <h8>{{ host['name'] }}</h8>
        </a>
        </td>
        <td style="width:70px;">
        <span class="badge badge-warning">{{ host['os'] }}</span>
        </td>
        <td style="width:130px;">
        <span class="badge badge-primary">{{ host['date'] }}</span>
        </td>
        <td style="width:30px;">
            <a href="{{ url_for('deleteHost', host_id=host['id']) }}" onclick="return confirm('Are you sure you wish to delete the host?')">Delete</a>
        </td>
        </tr>
    {% endfor %}
    </table>
</div>
<div style="position: absolute; bottom: 0px;">
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}
</div>
<div class="mainplot">
        <b>
            <u>
                <span style="font-size:10pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">COLLECTING SAR DATA</span>
            </u>
        </b>
        <br>
        <span style="font-size:8pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">
        <br>
        There are two ways of gathering system statistics from hosts:
        <ul>
            1. Manually generating and uploading sar report:
            <ul>
                <li>Be sure that sysstat package is installed on your host(s) and collecting performance data.</li>
                <li>Download <a href="/static/sar2ascii.tar">sar2ascii.tar</a> to collect sar data from servers.</li>
                <li>Untar it on the server which you will examine performance data.</li>
                <li>For HPUX servers run:</li>
                <ul><li><b>sh sar2ascii</b></li></ul>
                <li>For Linux or Sun Solaris servers run:</li>
                <ul><li><b>"bash sar2ascii</b></li></ul>
                <li>It will create the report with name sar2html-hostname-date.tar.gz under /tmp directory.</li>
                <li>Upload the report to sar2html by using one of the following ways:</li>
                <ul>
                    <li>Open sar2html and click "New Host" button, browse and select the report, click "OK" to upload the data.</li>
                    <li>Directly upload by using sar2html API like;</li>
                    <ul>
                        <li><b>curl -F "file=@/tmp/sar2html-localhost-1407101131.tar.gz" sar2html.localhost:5000</b></li>
                    </ul>
                </ul>
            </ul>
            <br>
            2. Streaming sar data through the sar2html API:
            <ul>
                <li>Be sure that sysstat package is installed on your host(s).</li>
                <li>Download <a href="/static/sar2ascii.tar">sar2ascii.tar</a> to collect sar data from servers.</li>
                <li>Untar it on the server which you will examine performance data.</li>
                <li>Copy sar2ascii to a proper location.</li>
                <li>Add an entry to the crontab to collect data like;</li>
                <ul>
                    <li><b>* * * * * /bin/bash -c "/usr/local/bin/sar2ascii -s sar2html.localdomain:5000"</b></li>
                </ul>
                <li><b>PS:</b>Use bash for Linux and Solaris, sh for HPUX. And remember that curl must already be installed.</li>
            </ul>
        </ul>
    	</span>
</div>
{% endblock %}
