{% extends 'base.html' %}

{% block content %}
<div class="sidebar">
    <table cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
        <tr style="border-bottom: 1px solid #D0D0D0;">
            <td class="tabletite" style="width:190px;"><h7><a style="color: chocolate;" href="{{ url_for('sortByName') }}">Host</a></h7></td>
            <td class="tabletite" style="width:70px;"><h7><a style="color: chocolate;" href="{{ url_for('sortByOs') }}">OS</a></h7></td>
            <td class="tabletite" style="width:130px;"><h7><a style="color: chocolate;" href="{{ url_for('sortByDate') }}">Entry date</a></h7></td>
            <td class="tabletite" style="width:30px;"><h7><a style="color: chocolate;" href="{{ url_for('deleteAll') }}" onclick="return confirm('Are you sure you wish to delete all hosts?')">Action</a></h7></td>
        </tr>
    {% for host in hosts %}
        <td style="width:190px;">
        <a href="{{ url_for('post', host_id=host['id']) }}">
            <h8>{{ host['name'] }}</h8>
        </a>
        </td>
        <td style="width:70px;">
        <span class="badge badge-warning">{{ host['os'] }}</span>
        </td>
        <td style="width:130px;">
        <span class="badge badge-primary">{{ host['date'] }}</span>
        </td>
        <td style="width:30px;">
            <a href="{{ url_for('deleteHost', host_id=host['id']) }}" onclick="return confirm('Are you sure you wish to delete the host?')">Delete</a>
        </td>
        </tr>
    {% endfor %}
    </table>
</div>
<div style="position: absolute; bottom: 0px;">
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}
</div>
<div class="mainplot">
        <b>
            <u>
                <span style="font-size:10pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">COLLECTING SAR DATA</span>
            </u>
        </b>
        <br>
        <span style="font-size:8pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">
        <br>
        Use sar2ascii to generate a report:
        <ul>
            <li>Download following tool to collect sar data from servers: <a href="/static/sar2ascii.tar">sar2ascii.tar</a>.</li>
            <li>Untar it on the server which you will examine performance data.</li>
            <li>For HPUX servers run "sh sar2ascii".</li>
            <li>For Linux or Sun Solaris servers run "bash sar2ascii".</li>
            <li>It will create the report with name sar2html-hostname-date.tar.gz under /tmp directory.</li>
        </ul>
        Upload the report to sar2html by using one of the following ways:
        <ul>
            <li>Open sar2html and click "New Host" button, browse and select the report, click "OK" to upload the data.</li>
            <li>Directly upload by using sar2html API:</li>
            <ul>
                <li>curl -F "file=@{Report File Name}" {sar2html_IP_or_hostname}:5000</li>
            </ul>
        </ul>
    	</span>
</div>
{% endblock %}
